# Ignore specific application documents from being published
assets/docs/Prasad_Anjangi_Cover_Letter.pdf
assets/docs/Prasad_Anjangi_Research_Statement.pdf
assets/docs/Prasad_Anjangi_Teaching_Statement.pdf
